.index{
  opacity: 1;
  transition: all 0.5s linear;
  transform: translate3d(-100%,0,0);
  .li{
    overflow: hidden;
    position: relative;
    h3{
      position: absolute;
      top: 50%;
      height: 100%;
      writing-mode: vertical-rl;
      font-family: Montserrat, noto_sans_kor;
      font-size: 64px;
      font-weight: 400;
      line-height: 1;
      letter-spacing: -0.025em;
      text-align: left;
      transform: translateY(-24%);
    }
    p{
      font-size: 120px;
      font-weight: 600;
      line-height: 120px;
      letter-spacing: 0em;
      text-align: center;
      transition: all ease-in-out 0.3s;
    }
    >div{
      margin-top: 80px;
      transform: translateX(50%);
      transition: transform 0.3s linear;
      opacity: 0;
    }
  }
}
.index-on{
  opacity: 1;
  transform: translate3d(0,0,0);
}
.li:hover{
  width: 696px;
  margin-right: 20px;
  background: var(--bg);
  h3{
    writing-mode: horizontal-tb;
    margin-top: -30px;
    transform: translateY(30%);
  }
  p{
    display: block;
    width: 100%;
    text-align: left;
  }
  >div{
    opacity: 1;
    transform: translateX(0);
  }
}
.img{
  position: absolute;
}

