.li:hover{
  width: 696px;
  .name{
    writing-mode: horizontal-tb;
    margin-top: 400px;
  }
  .img{

  }
}
.name{
  margin-top: 32px;
  writing-mode: vertical-lr;
}
.img{
  position: absolute;
}

