.index{
  opacity: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: -100%;
  transform-origin: 100% 50%;
  transform: rotateY(-90deg);
  transition: opacity 0.8s ease-in 0.2s;
  >div{
    flex: 1;
    >ul{
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: 100%;
      .li{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #fff;
        position: relative;
        width: 160px;
        margin-right: 16px;
        transition: all .3s ease-in-out;
        &:last-of-type{margin-right: 0;}
        h3{
          position: absolute;
          top: 50%;
          height: 400px;
          writing-mode: vertical-rl;
          font-size: 40px;
          font-weight: 400;
          line-height: 1;
          letter-spacing: -0.025em;
          text-align: left;
          transform: translateY(-24%);
        }
        p{
          display: block;
          width: 100%;
          font-size: 120px;
          font-weight: 600;
          line-height: 120px;
          letter-spacing: 0em;
          transition: all ease-in-out 0.3s;
        }
        >div{
          overflow: hidden;
          position: absolute;
          top: 50%;
          transform: translate(50%,-30%);
          transition: transform 0.3s linear;
          opacity: 0;
          .img_wrap{
            overflow: hidden;
            display: flex;
            justify-content: center;
            position: absolute;
            left: 40px;
            top: 2px;
            width: 100%;
            height: 280px;
            padding: 3px 0px 8px 3px;
            >img{
              height: calc(100% - 4px);
              border-radius: 6px 0 0;
              &.kakao{
                // width: 100%;
                height: calc(100% - 17px);
                margin-top: 1px;
                border-radius: 0;
              }
            }
            >div{
              overflow: hidden;
              height: 190px;
              padding-left: 3px;
              background: transparent;
            }
          }
        }
        &:hover{
          width: 520px;
          margin-right: 20px;
       
          h3{
            opacity: 0;
            height: auto;
            font-size: 32px;
            writing-mode: horizontal-tb;
            transform: translateY(30%);
          }
          p{
            color: #fff;
            text-align: left;
          }
          >div{
            opacity: 1;
            transform: translate(25%,-30%);
          }
        }
      }
     
    }
  }

}
.index-on{
  opacity: 1;
}


.img{
  position: absolute;
}

