.page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh !important;
	margin-bottom: 0 !important;
	background: #333;
	.loader {
		--size-square: 80px;	
		display: block;
		position: relative;
		width: calc(80 * 2px);
		height: calc(80 * 2px);
		transform: translateY(-40px);
		&::before{
			top: calc(50% - var(--size-square));
			left: calc(50% - var(--size-square));
			animation: loader-6 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
		}
		&::after{
			top: 50%;
			left: 50%;
			animation: loader-7 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
		}
	}
	.text{
		margin-top: 16px;
		color: #fff;
		animation: blink 1s linear infinite alternate;
	}
}

.loader::before,
.loader::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
	width: var(--size-square);
	height: var(--size-square);
	background-color: #fff;
}

@keyframes loader-6 {
	0%, 100% {transform: none;opacity: 1;}
	25% {transform: translateX(100%);opacity: .7;}
	50% {transform: translateX(100%) translateY(100%);opacity: .5;}
	75% {transform: translateY(100%);opacity: .7;}
}


@keyframes loader-7 {
	0%, 100% {transform: none;opacity: .7;}
	25% {transform: translateX(-100%);opacity: .5;}
	50% {transform: translateX(-100%) translateY(-100%);opacity: .7;}
	75% {transform: translateY(-100%);opacity: 1;}
}

@keyframes blink {
	0%{opacity: .3;}
	100%{opacity: 1;}
}
//background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);