.container{
  position: relative;
  >div{
    backface-visibility: hidden;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 100% 100%;
    transform: translateZ(0px) rotateY(0deg);
    // border: 1px solid red;
    transition: transform 0.5s linear;
  }
  .index-open{
    transform: rotateY(90deg);
  }
}

.title_box{
  position: absolute;
  height: 232px;
  width: 1455px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.h1{
  display: block;
  margin-bottom: -0.4rem;
  // font-family: Montserrat;
  font-size: 7.5rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0em;
  text-align: justify;
  color: #393939;
  word-break: break-all;
  .name{
    display: inline-flex;
    align-items: baseline;
    letter-spacing: -0.05em;
    &::after{
      content: "";
      display: block;
      height: 16px;
      width: 64px;
      background: var(--gray2);
      margin-left: 20px;
      margin-right: 14px;
    }
  }
}
.title1{
  // font-family: Montserrat;
  margin-top: 40px;
  font-size: 120px;
  font-weight: 600;
  line-height: 168px;
  text-align: left;
}

.title_fin{
  font-size: 120px;
  font-weight: 600;
  line-height: 168px;
}

.title_sub{
  display: block;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: -0.005em;
  text-align: justify;
  word-break: break-all;
}
.title_sub2{
  font-size: 2rem;
  font-weight: 700;
  line-height: 38px;
  padding-bottom: 1.4rem;
  letter-spacing: -0.005em;
  text-align: justify;
}
.title_sub3{
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.01em;
  text-align: justify;
}

.body1{
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.015em;
  text-align: justify;  
}
.body2{
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: justify;
}

/* menu */
.menu{
  opacity: 0;
  position: fixed;
  right: 80px;
  top: 16px;
  transform: translate3d(+250%,0,0);
  transition: transform 0.3s ease-in-out, opacity 0.5s linear 0.2s;
}
.menu_on{
  opacity: 1;
  transform: translate3d(0,0,0);
}
.menu_box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  height: 64px;
  width: 64px;
  cursor: pointer;
}

.menu_icon{
  width: 42px;
  height: 28px;
}

.menu_page{
  height: 240px;
  width: 8px;
  left: 28px;
  top: 98px;
}

/* section */
.section__inner{
  display: flex;
  height: 791px;
}
.left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 880px;

}
// section > mockup
.mockup{
  z-index: 0;
  margin-top: 40px;
  perspective: 3000px;
  &:hover> .mockup_wrap{
    transform: translateZ(-1000px);
    .mockup__pc{
      transform: translateX(50%);
    }
    .mockup__tablet{
      transform: translateX(130%);
    }
    .mockup__mobile{
      transform: translateX(400%);
      &.kakao{
        transform: translateX(100%);
      }
    }
  }
  &:hover> .mockup__code{
    transform: rotateY(0) translateX(-50%);
    opacity: 1;
  }
  .mockup_wrap{
    position: relative;
    transition: transform 0.5s linear 0.3s;
    >div{
    transition: all .3s ease-in;
      >div{ // video__wrap
        position: relative;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0 0;
        >video{
          position: absolute;
          object-fit: fill;
        }
      }
    }
  .mockup__pc{
    width: 737px;
    height: 570px;
      >div{
        background-image: url(../images/m_24.svg);
        >video{
          width: 625px;
          height: 352px;
          top: 15px;
          left: 95px;
          border-radius: 4px;
        }
      }
    }
    .mockup__tablet{
      position: absolute;
      right: 20.4vw;
      top: 244px;
      width: 512px;
      height: 310px;
      >div{
        background-image: url(../images/m_16.svg);
        >video{
          width: 426px;
          height: 277px;
          top: 5px;
          left: 43px;
          border-radius: 8px 8px 0 0;
        }
      }
    }
    .mockup__mobile{
      position: absolute;
      right: 48vw;
      top: 349px;
      width: 207px;
      height: 207px;
      >div{
        background-image: url(../images/i_13.svg);
        >video{
          top: 4px;
          left: 96px;
          width: 91px;
          height: 196px;
          border-radius: 10px;
        }
      }
      &.kakao{
        width: 660px;
        height: 500px;
        position: relative;
        top: auto;
        right: 8vw;
        margin-left: 8vw;
        >div>video{
          top: 2%;
          left: 232px;
          width: 33.5%;
          height: 95%;
          border-radius: 24px;
        }
      }
    }
  }
  .mockup__code{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 50%;
    width: 620px;
    height: 350px;
    padding: 32px;
    background: #333;
    transform: rotateY(-90deg) translateZ(-1000px) translateX(-50%);
    transition: all 0.5s linear .3s;
    color: #fff;
    &::after{
      content: "";
      display: block;
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      width: 98%;
      height: 1px;
      box-shadow: -0px 172px 14px #000;
    }
  }
}


/* font transition */
.title{
  overflow: hidden;
}
.title>span{
  display: inline-block;
  opacity: 0;
  transform: translatey(100%);
  animation: up_text 0.5s ease-in-out forwards;
  animation-play-state: paused;
}

@keyframes up_text {
  0%{transform: translateY(100%);opacity: 0;}
  100%{transform: translateY(0);opacity: 1;}
}

/* [&>span]:transition-all duration-500 ease-in-out [&>span]:translate-y-full */

// transition
.finbox{
  transform-origin: center center;
  transform: translate(-50%,-50%);
  animation: up_box 1s ease-in-out 0.2s forwards;
  animation-play-state: paused;
}
.play{
  animation-play-state: running;
}
@keyframes up_box {
  0%{transform: translate(-50%,0%) rotate(30deg)}
  80%{transform: translate(-51%,-70%) rotate(-2.5deg);}
  85%{transform: translate(-52%,-55%) rotate(-3deg);}
  100%{transform: translate(-50%,-50%) rotate(0deg);}
}
@media screen and (max-width: 1600px) {
  // layout
  .inner_left{
    min-width: 48vw !important;
  }
}

@media screen and (max-width:1440px) {
  // menu
  .menu{
    right: 32px;
  }
  
  //font 
  .title1{
    font-size: 7.2rem;
    line-height: 150px;
    padding-top: 20px;
  }

  .title_sub{
    font-size: 2.3rem;
    line-height: 1.3;
  }
  
  .body1{
    font-size: 1.6rem;
  }


}

@media screen and (max-width:780px) {
  // layout

  .section__inner{
    display: flex;
    flex-direction: column;
    .left{
      width: auto;
    }
    >div:nth-of-type(2){
      margin-top: 2.5rem;
    }
  }

  //font
  .h1{
    font-size: 6.8rem;
  }
  .title1{
    line-height: 1;
    margin-bottom: 40px;
  }
}