.title_box{
  position: absolute;
  height: 232px;
  width: 1455px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.h1{
  display: block;
  margin-bottom: 16px;
  font-family: Montserrat;
  font-size: 120px;
  font-weight: 600;
  line-height: 168px;
  letter-spacing: 0em;
  text-align: left;
  color: #393939;
}
.title1{
  font-family: Montserrat;
  font-size: 120px;
  font-weight: 600;
  line-height: 168px;
  text-align: left;
  }

.title_sub{
  display: block;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: -0.005em;
  text-align: justify;
  word-break: break-all;
}
.title_sub2{
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.005em;
  text-align: justify;
}
.title_sub3{
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.01em;
  text-align: justify;
}

.body1{
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.015em;
  text-align: justify;  
}
.body2{
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.02em;
  text-align: justify;
}
/* menu */
.menu{
  position: fixed;
  left: 1776px;
  top: 16px;
}

.menu_box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  height: 64px;
  width: 64px;
}

.menu_icon{
  width: 42px;
  height: 28px;
}

.menu_page{
  height: 240px;
  width: 8px;
  left: 28px;
  top: 98px;
}

.menu_indicator{

}

/* section_sizing */
.section__inner{
  display: flex;
  height: 791px;
}
/* section1 */
.left{
  width: 880px;
}
/* font transition */
.title{
  overflow: hidden;
}
.title>span{
  display: inline-block;
  opacity: 0;
  transform: translatey(100%);
  animation: up_text 0.5s ease-in-out forwards;
  animation-play-state: paused;
}

@keyframes up_text {
  0%{transform: translateY(100%);opacity: 0;}
  100%{transform: translateY(0);opacity: 1;}
}

/* [&>span]:transition-all duration-500 ease-in-out [&>span]:translate-y-full */