.container{
  position: relative;
  >div{
    backface-visibility: hidden;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    // border: 1px solid red;
    transition: all 0.5s linear;
  }
  .index_open{
    transform-origin: 100% 50%;
    transform: rotateY(90deg)
  }
  .doc_open{
    transform-origin: 0 50%;
    transform: rotateY(-90deg);
  }
  .section_wrap{
    display: flex;
    justify-content: space-between;

    width: 100%;

  }

  .description_list{
    display: flex;
    margin-top: 1.25rem;
    &>li>a{
      display: flex;
      align-items: center;
      margin-right: 1.25rem;
      padding-right: 0.5rem;
      transition: all 0.3s ease-in-out;
      &:hover{
        background: var(--gray2);
        color: var(--bg);
        &>span>svg{
          color: var(--bg);
        }
      }
      &>span{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        height: 2.5rem;
        &>svg{
          width: 2rem;
          height: 2rem;
          margin-right: 0.125rem;
          color: var(--gray2);
        }
      }
    }
  }
}

.title_box{
  position: absolute;
  height: 232px;
  width: 1455px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.h1{
  display: block;
  margin-bottom: -0.4rem;
  // font-family: Montserrat;
  font-size: 7.5rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0em;
  text-align: justify;
  color: #393939;
  word-break: break-all;
  >span{
    background: url("../public/images/font-bg.jpg") repeat;
    background-position: 0% 50%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .name{
    display: inline-flex;
    align-items: baseline;
    letter-spacing: -0.05em;
  }
}
.title1{
  // font-family: Montserrat;
  margin-top: 40px;
  font-size: 90px;
  font-weight: 600;
  line-height: 168px;
  text-align: left;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: var(--gradient1)
}

.title_fin{
  font-size: 120px;
  font-weight: 600;
  line-height: 168px;
}

.title_sub{
  display: block;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: -0.005em;
  text-align: justify;
  word-break: break-all;
}
.title_sub2{
  font-size: 2rem;
  font-weight: 700;
  line-height: 38px;
  padding-bottom: 1.4rem;
  letter-spacing: -0.005em;
  text-align: justify;
}
.title_sub3{
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.01em;
  text-align: justify;
}

.body1{
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.015em;
  text-align: justify;
  word-break: break-all;
}
.body2{
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: justify;
}

/* menu */
.menu{
  opacity: 0;
  position: fixed;
  right: 80px;
  top: 16px;
  transform: translate3d(250%,0,0);
  transition: transform 0.3s ease-in-out, opacity 0.5s linear 0.2s;
}
.menu_on{
  opacity: 1;
  transform: translate3d(0,0,0);
}
.menu_box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  height: 64px;
  width: 64px;
  cursor: pointer;
}

.menu_icon{
  width: 42px;
  height: 28px;
}

.menu_page{
  height: 240px;
  width: 8px;
  left: 28px;
  top: 98px;
}

/* section */
.section__inner{
  display: flex;
  height: 791px;
}
.left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 880px;
}

/* font transition */
.title{
  overflow: hidden;
}
.title>span{
  display: inline-block;
  opacity: 0;
  transform: translatey(100%);
  animation: up_text 0.5s ease-in-out forwards;
  animation-play-state: paused;
}

@keyframes up_text {
  0%{transform: translateY(100%);opacity: 0;}
  100%{transform: translateY(0);opacity: 1;}
}

.explosion{

}

.portfolio_page{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  >ul>li{
    opacity: 0;
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 2;
    color: var(--gray1);
    text-align: left;
    transform: translatey(100%);
    animation: up_text 0.5s ease-in-out forwards;
    animation-play-state: paused;
    span{
      background: var(--gradient1);
      background-clip: text;
      -webkit-background-clip: text;
    }

  }
  .box{
    width: 130px;
    height: 130px;
    margin-left: 80px;
    background: var(--gradient1);
  }
}

.finbox{
  transform-origin: center center;
  transform: translate(-50%,-50%);
  animation: up_box 1s ease-in-out 0.2s forwards;
  animation-play-state: paused;
  &>p, & li{
    background: url(/portfolio_2023/images/font-bg.jpg) repeat;
    background-position: 0% 50%;
    -webkit-background-clip: text;
    color: transparent;
  }
}

.play{
  animation-play-state: running;
}

@keyframes up_box {
  0%{transform: translate(-50%,0%) rotate(30deg)}
  80%{transform: translate(-51%,-70%) rotate(-2.5deg);}
  85%{transform: translate(-52%,-55%) rotate(-3deg);}
  100%{transform: translate(-50%,-50%) rotate(0deg);}
}
@media screen and (max-width: 1600px) {
  // layout
  .inner_left{
    min-width: 500px !important;
  }
}

@media screen and (max-width:1440px) {
  // menu
  .menu{
    right: 32px;
  }
  
  //font 
  .h1{
    letter-spacing: -0.2rem;
  }
  
  .title1{
    line-height: 150px;
    padding-top: 20px;
  }

  .title_sub{
    font-size: 2.3rem;
    line-height: 1.3;
  }
  
  .body1{
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1024px) {
  // layout
  .portfolio_page{
    .box{
      width: 80px;
      height: 80px;
      margin-left: 40px;
    }
  }
  
  .left{
    width: 46%;
    dt:last-of-type{
      margin-top: 40px;
    }
    dd>ul{
      flex-wrap: wrap;
      margin-right: 0;
      &>li{
        margin-bottom: 10px;
      }
    }
  }
  .right{
    height: 100%;
    justify-content: start;
    dl:last-child{
      dd>ul{
        display: flex;
        li>span:first-of-type{
          padding-right: 10px;
        }
        li>span:last-of-type{
          display: none;
        }
      }  
    }
  }

  // font
  .h1{
    font-size: 7.2rem;
  }
  .title_sub{
    font-size: 2rem;
  }
  .title1{
    font-size: 80px;
    line-height: 1.5;
  }
  .body1{
    font-size: 1.375rem;
  }
}

@media screen and (max-width:768px) {
  // layout
  .portfolio_page{
    position: relative;
    align-items: end;
    ul{
      text-align: justify;
      word-break: break-all;
    }
    .box{
     display: none;
    }
  }

  .section__inner{
    display: flex;
    flex-direction: column;
    .left{
      width: auto;
    }
    >div:nth-of-type(2){
      margin-top: 2.5rem;
    }
    .right{
      dl:last-child{
        dd>ul{
          display: flex;
          flex-direction: column;
          li>span:first-of-type{
            padding-right: 0;
          }
          li>span:last-of-type{
            display: block;
          }
        }  
      }
    }
  }
  .menu{
    display: none;
  }
  .section_wrap{
    flex-direction: column;
    padding-right: 0 !important;
    dl:first-of-type{
      dt{
        padding-top: 40px;
        &:first-of-type{
          padding-top: 0;
        }
      }
      dd:last-of-type{
        margin-bottom: 0;
      }
    }
  }
  .description_list{  
    li:nth-of-type(3){
    display: none !important;
    }
  }
  //font
  .h1{
    font-size: 6.8rem;
  }
  .title1{
    line-height: 1.2;
    margin-bottom: 40px;
  }

}

@media screen and (max-height:850px) {
  .description_list{
    li:nth-of-type(3){
    display: none !important;
    }
  }
}
