.validation_wrap{
  z-index: 10;
  position: fixed;
  top: 0;left: 0;
  opacity: 1 !important;
  width: 100%;
  height: 100%;
  color: var(--gray2);
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  h2{
    text-align: center;
  }
  .img_wrap{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    position: relative;
    width: 100%;
    border: 1px solid red;
    .img{
      overflow: hidden;
      margin-left: -200px;
      width: 25%;
      background: #fff;
      padding: 8px;
      box-shadow: 4px 10px 28px rgba(0, 0, 0, 0.21);
      transition: all .5s linear;
      h3{
        z-index: 10;
        text-transform: uppercase;
      }
      img{
        transition: all .5s linear;
      }
      &:hover{
        z-index: 11111;
        margin: 0px 40px 0px;
        transform: scale(1.1);
        img{
          transform: scale(1.2); 
          // 각 이미지 종료에 맞게 class로 나누던지해서 height 주면 될듯.
        }
      }
    }
  }
}